.author-card {
  display: flex;
  flex-direction: column;
  width: 300px;
  border: solid 1px #1f261a;
  align-items: center;
  border-radius: 10px;
  box-shadow: 1rem 1rem 3rem #1f261a;
  font-family: "Roboto";
  background: linear-gradient(160deg, #355b41, #1f261a);
}

.author-card > img {
  height: 300px;
  width: 300px;
  object-fit: cover;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  object-position: top;
}

/* .buttoniscard {
  cursor: pointer;
  background: transparent;
  width: 300px;
  padding: 0;
  margin: 20px;
  border: none;
} */
