@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Vesper+Libre:wght@400;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --bg-primary: #355b41;
  --bg-secondary: black;
  --font-color-primary: white;
  --highlight-color: #3fb23e;
  --button-color: #355b41;
}

html {
  font-size: 16px;
  font-family: "Vesper Libre", serif;
  color: var(--font-color-primary);
  background: var(--bg-primary);
}

body {
  margin: 0;
  font-family: "Vesper Libre", serif;
}

.bg-primary {
  background: var(--bg-primary);
}

button {
  font-family: "Roboto", sans-serif;
  background: white;
  color: black;
}

main {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quotes-container {
  border: 1px solid var(--font-color-primary);
  border-radius: 10px;
  background: var(--bg-secondary);
  padding: 10px;
  margin: 20px;
  color: var(--highlight-color);
  min-height: 100px;
  text-align: center;
  width: 70vw;
}

.cards-container {
  margin: 5px 0;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
